.answer{
    height:100%;
}

.next-button {
    margin:0 5px;
    font-size: 1rem;
    padding:1rem;
    color:rgb(187, 179, 153);
    background-color:black;
    border:solid black 2px;
    border-radius:2px;
    transition: border;
    transition-duration: 200ms;
    font-family: var(--fancy);
}

.next-button:hover {
    border:solid white 2px;
}

img{
    max-width: 400px;
}

.correct{
    color:rgb(37, 224, 37);
    font-size:1.5rem;
}

.wrong{
    color:rgb(255, 37, 37);
    font-size:1.5rem;
}
