.App {
  text-align: center;
  background-color: blue;
  color:white;
  height:130vh;
  font-family: var(--neat);
}
:root {
  --neat: 'Vesper Libre', serif; 
  --fancy: 'Josefin Sans', sans-serif;
}

.App-logo {
  /* padding: 10% 0 0 20px; */
  animation: App-logo-spin .9s linear;
  height: 80px;
  filter: invert(100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center{
  /* padding:10% 0 0 0; */
}