.App {
  text-align: center;
  background-color: blue;
  height:100vh;
  color:white;
}

.App-logo {
  padding: 10% 0 0 20px;
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  filter: invert(100%);
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
