img {
  max-width: 30%;
}

.gameEnd button {
  margin-top: 40px;
  font-size: large;
  color: rgb(187, 179, 153);
  background-color: black;
  border: solid 2px black;
  border-radius: 2px;
  font-family: var(--fancy);
  padding:1rem;
}

.gameEnd button:hover {
  color: rgb(187, 179, 153);
  background-color: black;
  border: solid 2px white;
  transition: border;
  transition-duration: 200ms;
}