.gamePlay{
  padding:0 10% 0 10%;
}
h4 span{
  color:rgb(9, 34, 114);
}

.restart-button {
  margin-top: 40px;
    font-size: large;
    color:rgb(187, 179, 153);
    background-color:rgba(0, 0, 0, 0.623);
    border:none;
    border-radius:2px;
  }
  
  .restart-button:hover {
    font-size: medium;
    color:rgb(187, 179, 153);
    background-color:black;
  }
  
  .restart-button:active {
    border:solid white 2px;
    border-radius:2px;
  }