.App-title {
    font-size: 1.5em;
  }

.App-intro {
    font-size: 1.5rem;
    color:rgb(187, 179, 153);
    background-color:black;
    border:solid black 2px;
    border-radius: 5px;
    font-family: var(--fancy);
    transition: border;
    transition-duration: 0.2s;
    padding:1rem;
  }
  
  .App-intro:hover {
    color:rgb(187, 179, 153);
    font-size: 1.5rem;
    background-color:black;

    border:solid white 2px;
    border-radius: 5px;
  }
  
  .App-intro:active {
    border:solid white 2px;
    border-radius:2px;
  }

  .subtitle{
    font-size:15px;
  }