.choiceOfNations button {
    margin:0 5px;
    font-family: var(--fancy);
    font-size: 1rem;
    color:rgb(187, 179, 153);
    background-color:black;
    border:2px black solid;
    border-radius:2px;
    transition: border;
    transition-duration: 200ms;
}

.choiceOfNations button:hover {
    color:rgb(187, 179, 153);
    background-color:black;
    border:white 2px solid;
}

.choiceOfNations button:active {
    border:solid white 2px;
    border-radius:2px;
}
